:root {
  --color-primary: #10C62C;
  --color-primary-dark: #0a851d;
  --color-text-main: #333333;
  --color-text-light: #777777;
  --color-bg-light: #f9f9f9;
  --color-bg-dark: #1a1a1a;
  --color-white: #ffffff;
  --font-family: "Inter", "Regular";
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2.5rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 1rem;
  --space-4: 1.5rem;
  --space-5: 2rem;
  --space-7: 4rem;
  --space-10: 6rem;
  --radius-md: 8px;
  --radius-lg: 20px;
  --grid-w: 1200px;
}


html {
  scroll-behavior: smooth;
}


body {
  font-family: var(--font-family);
  font-size: var(--fs-base);
  color: var(--color-text-main);
  line-height: 1.5;
  background-color: var(--color-white);
}


h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.2;
}



input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: var(--space-2);
  border: 1px solid #ccc;
  border-radius: var(--radius-md);
}
