.container {
  max-width: var(--grid-w);
  margin: 0 auto;
  padding: 0 var(--space-3);
}
.text-center {
  text-align: center;
}
.text-green {
  color: var(--color-primary-dark);
  font-weight: bold;
}
.text-muted {
  color: var(--color-text-light);
}
.text-white {
  color: var(--color-white);
}
.text-gold {
  color: #d4af37;
}
.text-blue {
  color: #3498db;
}
.text-sm {
  font-size: var(--fs-sm);
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.gap-3 {
  gap: var(--space-3);
}
.gap-4 {
  gap: var(--space-4);
}
.gap-7 {
  gap: var(--space-7);
}
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: 1fr;
}
.mt-3 {
  margin-top: var(--space-3);
}
.mb-3 {
  margin-bottom: var(--space-3);
}

.ml-7 {
  margin-left: var(--space-10);
}

.mb-10 {
  margin-bottom: var(--space-7);
}
.w-full {
  width: 100%;
}
.max-w-600 {
  max-width: 600px;
  margin: 0 auto;
}
.p-0 {
  padding: 0;
}
.block {
  display: block;
}
