@layer reset, base, utilities, components, utilities-responsive, components-responsive;

@import "css/reset.css" layer(reset);

@import "css/base.css" layer(base);

@import "css/utilities.css" layer(utilities);

@import "css/utilities-responsivnes.css" layer(utilities-responsive);

@import "css/components.css" layer(components);

@import "css/components-responsivnes.css" layer(components-responsive);
